body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas { 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to top, #003366, #6699ff);
    touch-action: none;
}
.input-group {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#dropArea { width: 50%; height: 50vh; top: 25vh; left: 25%; border: 5px dashed #245c09; display: none; align-items: center; justify-content: center; position: absolute; z-index: 10; }

#jsonOutput {
width: 100%;
box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Style the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #a8e6cd;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #761313;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Adjust input sizes */
input[type="number"], input[type="checkbox"] {
    margin-top: 10px;
}
